* {
  margin: 0px;
  font-family: Poppins;
  color: #f7f7f7f7;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 60%;
  background-color: rgba(27, 27, 27, 0.89);
  display: flex;
  justify-content: center;
  margin: 50px;
}
.wrapper {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts > ul {
  list-style: none;
}
.about-me {
  text-align: center;
}
.work-experience {
  text-align: center;
}
.work-link {
  text-decoration: none;
  color: #f7f7f7;
}
.all-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  gap: 50px;
}
.skills {
  padding-left: 150px;
}
.my-photo {
  padding: 15px;
  border: 0px solid rgba(27, 27, 27, 0.89);
  border-radius: 180px;
  overflow: hidden;
}
.education {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer.links {
  padding-top: 250px;
}
